html, body {margin: 0; height: 100%; overflow-x:hidden;}


@font-face {
    font-family: 'main'; /*a name to be used later*/
    src: url('fonts/InriaSans.ttf');
}


.block{
    display:block;
    width:100%;
    height:100%;
    overflow: hidden;
}

.top-container{
	display: flex;
	flex-wrap: nowrap;
	background: #477BFF;
	align-content: center;
	align-items: center;
	justify-content: center;
}

.title{
	display: flex;
	font-family: main;
	font-size: 30px;
	margin: 30px;
	color:white;
	letter-spacing: 6px;
}




.main-button-container{
	display: flex;
	flex-wrap: nowrap;

	justify-content: center;
	margin: 30px;
}


.button{
	display: flex;
	background: #477BFF;
	border-radius: 15px;
	margin: 15px;
}

.button-img{
	width: 40px;
	height: 40px;
	margin: 15px;
}




.line{
	display: flex;
	background: #477BFF;
	width: 80%;
	height: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}


.files-container{
	display: flex;
	flex-flow: column;
	margin: 30px 20px 0px 20px;
	height: 450px;
	overflow-y: scroll;
}




.files-container::-webkit-scrollbar {
  width: 5px; /* Ширина всего элемента навигации */
}

.files-container::-webkit-scrollbar-track {
  background: white; /* Цвет дорожки */
}

.files-container::-webkit-scrollbar-thumb {
  background-color: #477BFF;
  border-radius: 20px;
}












.file{
	display: flex;
	margin: 0px;
	align-items: center;
}


.file-img{
	width: 45px;
	height: 45px;
	margin: 15px;
	border-radius: 15px;
	background: #477BFF;
	padding: 10px;
}




.file-title{
	display: flex;
	font-family: arial;
	font-size: 18px;
	margin: 10px;
	color:grey;
	font-weight: bold;
	letter-spacing: 5px; 
}

.no-files{
	display: flex;
	font-family: arial;
	font-size: 30px;
	margin: 30px;
	color:grey;
	font-weight: bold;
	letter-spacing: 5px; 
	text-align: center;

	margin-left: auto;
	margin-right: auto;
}


.block{
	display: none;
}


#main-block{
	display: block;
}




.button-img-back{
	left: 10px;
	width: 40px;
	height: 40px;
}



.name-container{
	display: flex;
	flex-wrap: nowrap;
	background: #477BFF;
	align-content: center;
	align-items: center;
	justify-content: center;
	width: 290px;
	height: 350px;
	margin: auto;
	margin-top:120px;
	border-radius: 15px;
	flex-flow: column;
}

.settings-container{
    display: none;
	background: #477BFF;
	align-content: center;
	align-items: center;
	justify-content: center;
	width: 90%;
	height: 360px;
	top: 50%;
	left: 50%;
	position: absolute;
	border-radius: 20px;
	transform:translate(-50%, -50%);
	flex-flow: column;

}

.exit-container{
    display: none;
	background: #477BFF;
	align-content: center;
	align-items: center;
	justify-content: center;
	width: 90%;
	height: 360px;
	border-radius: 20px;
	top: 50%;
	left: 50%;
	position: absolute;
	flex-flow: column;
    transform:translate(-50%, -50%);
}

.button-settings{
	display: flex;
    background: white;
    padding: 10px;
	border-radius: 10px;
	align-content: center;
	align-items: center;
	margin: 5px;
	justify-content: center;
	width: 270px;
	height: 40px;
	font-weight: bold;
	font-family: arial;
}

.enter-button{
	display: flex;
    background: white;
    padding: 15px;
	border-radius: 10px;
	align-content: center;
	align-items: center;
	margin: 5px;
	justify-content: center;
	width: 30px;
	height: 30px;
}

.button-delete{
    margin-top:40px;
    background: red;
    color: white;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    align-content: center;
    align-items: center;
    margin: 10px;
    justify-content: center;
	font-weight: bold;
	font-family: arial;
    width: 270px;
    height: 35px;
}

.change-title-container{
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
}

.name-file-input{
    display: flex;
	background: white;
	border-radius: 10px;
	width: 200px;
	height: 40px;
	padding: 10px;
	font-size: 15px;
	color:grey;
	border: 0;
	font-family: arial;
	font-weight: bold;
	margin: 5px;
}


.name-input{
	display: flex;
	background: white;
	border-radius: 10px;
	width: 180px;
	height: 40px;
	padding: 10px;
	font-size: 15px;
}


.name-button{
	font-family: arial;
	letter-spacing: 2px;
	font-weight: bold;
	display: flex;
	background: white;
	color:#477BFF;
	width: 200px;
	height: 60px;
	font-size: 15px;
	margin: 20px;
	border-radius: 10px;

	align-content: center;
	align-items: center;
	justify-content: center;
}





.vertical-line{
	display: flex;
	background: white;
	border-radius: 20px;
	width: 7px;
	height: 10px;
	margin-left: 5px;
	margin-right: 5px;
}




.workzone{
	display: flex;
	margin: 0;
	background: grey;
	align-content: center;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	padding: 10px;
}


.list{
	display: flex;
	margin: 10px;
	width: 300px;
	height: 400px;
	background: white;
}

